.epilogue {
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.darkModeToggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.image-container {
  image-rendering: pixelated;
}